.player {
    z-index: 999;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  
  .player-img {
    width: 20%;
    height: auto;
    vertical-align: middle;
  }