.App {
  text-align: center;
}

.main {
  background: cornflowerblue;
  height: 100vh;
  max-width: 1000px !important;
}

.spinner {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.mytitle {
  padding-top: 40px;
  padding-bottom: 40px;
}

.players {
  padding-top: 40px;
}

.player {
  z-index: 999;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.player-img {
  width: 20%;
  height: auto;
  vertical-align: middle;
}

.selector-img {
  width: 30%;
  height: auto;
  vertical-align: middle;
  margin-top: 7px;
}

.selector {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background-color: rgb(226, 226, 226) !important;
}

.text {
  margin-top: auto;
  margin-bottom: auto;
}

.title-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2.5em;
  margin: 0 auto .75em;
  width: 2.5em;
}

.maintitle {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
	font-size: 3.2em !important;
	font-weight: 600 !important;
	letter-spacing: 0.1em !important;
	line-height: 1em !important;
  text-transform: uppercase;
  text-align: center;
}

.mysubtitle {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
	font-size: 3em !important;
	font-weight: 500 !important;
	letter-spacing: 0.4em !important;
	line-height: 1em !important;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
	font-size: 1.1em !important;
	font-weight: 400 !important;
	line-height: 1em !important;
  text-transform: uppercase;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
	font-size: 1.1em !important;
	font-weight: 900 !important;
  text-transform: uppercase;
}

ul {
  list-style: none
}

.selector-title {
  font-weight: 900!important;
}

.mybutton {
  font-size: 1em !important;
  font-weight: 500 !important;
}

.bottom {
  height: 8vh;
}